<appSettings>
  <add key="FacebookAppId" value="144804339697414"/>
  <add key="FacebookAppSecret" value="0ebed1551c175f882f00754d98672802"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>